#String built in functions

In [ ]:
dir(str)

In [ ]:
1.#string.find()
#find() method finds the first occurence of the specified value

str1= "Hello World"
print("The position of the letter 'e' is at:",str1.find('e'))

The position of the letter 'e' is at: 1

In [ ]:
#2.string.replace()
#replace() is an inbuilt function in the Python programming language that returns a copy of the string where all occurrences of a substring are replaced with another substring

string = "Hello world"
print(string.replace("l","e"))

Heeeo wored

In [ ]:
#3.string.capitalize()
"""capitalize method returns a copy of the original string
and  converts the first character of the string to a capital 
 while making all other characters in the string lowercase letters"""

 #example

str1='manipal'
str2='university'

print(str1.capitalize()+str2.capitalize())

ManipalUniversity

In [ ]:
#4. string join()

l1=['1','2']

s="-"
s=s.join(l1)
print(s)

1-2

In [ ]:
#5.strip()
#strip method removes and leading and trailing characters.

str= "  hello  "
s=str.strip()

print(s,"world")

hello world

In [ ]:
#6.lstrip method:
#lstrip method returns a cpy of the string with leading characters removed.
#If no method passed it removes leading spaces

s="  hello"
print(s.lstrip())

hello

In [ ]:
#7.rstrip method
#The rstrip() method removes any trailing characters
# space is the default trailing character to remove.
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
#8.split()
"""split() method in Python split a string into a list of strings after breaking the
given string by the specified separator"""

#example

s="manipal university"
print(s.split())

#splits at ','
print(s.split(','))

['manipal', 'university']
['manipal university']

In [ ]:
#9.rfind()
"""Python String rfind() method returns the highest index of the substring if found
in the given string. If not found then it returns -1."""

#returns highest index of the substring
s='real in real'
d=s.rfind('real')
print(d)

8

In [ ]:
#10.isalnum()

# isalnum () checks whether the string consists of alphanumeric characters.

#example

s="AF54"
print(s.isalnum())

True

#DICTIONARY FUNCTION CALLS

In [61]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [62]:
#1.copy() method in dictionary 
s={"year":2021,"month":'october'}
y=s.copy()
print(y)

{'year': 2021, 'month': 'october'}

In [63]:
#2.fromkeys() method in dictionary
#The fromkeys() method returns a dictionary with the specified keys and the specified value.

a=('k1','k2')
b=0

dic=dict.fromkeys(a,b)
print(dic)

{'k1': 0, 'k2': 0}

In [64]:
#3.get() method in dictionary
s={"year":2021,"month":'october'}
y=s.get("year")
print(y)

2021

In [65]:
#4. items() function in dictionary

s={"year":2021,"month":'october'}

y=s.items()
print(y)

dict_items([('year', 2021), ('month', 'october')])

In [66]:
#5. keys() method in dictionary
s={"year":2021,"month":'october'}

y=s.keys()
print(y)

dict_keys(['year', 'month'])

In [67]:
#6.setdefault() method in dictionary
#The setdefault() method returns the value of the item with the specified key
s={"year":2021,"month":'october'}
l=s.setdefault("month","spetember")

print(l)

october

In [68]:
#7.update() method in dictionary
#The update() method inserts the specified items to the dictionary

s={"year":2021,"month":'october'}

s.update({"year":2020})

print(s)

{'year': 2020, 'month': 'october'}

In [69]:
#8.values() method in dictionary 
#the values of the dictinoary are displayed as list.
s={"year":2021,"month":'october'}

l=s.values()
print(l)

dict_values([2021, 'october'])

In [70]:
#9._str_()  to convert dictionary to string

s={"year":2021,"month":'october'}
c=s.__str__()
print(type(c))
print(c)

<class 'str'>
{'year': 2021, 'month': 'october'}

In [71]:
#10.__sizeof__() method in dictionary to check the space allocated


s={"year":2021,"month":'october'}
c=s.__sizeof__()
print(c)

216

#TUPLE FUNCTION CALLS
*italicized text*

In [ ]:
dir(tuple)

In [2]:
#1.count()
"""python count() method counts the occurences of an element in the tuple.
It returns the occurence of the element passed during call"""

t=(2,2,4,6,8,10)
c=t.count(2)
print(c)

2

In [5]:
#2.index
"""The index() method finds the first occurrence of the specified value."""

t=(2,2,4,6,8,10) 
c=t.index(2)
print(c)

0

In [12]:
#3._add_()
tup1=(1,2,3)
c=tup1.__add__((2,3))
print(c)

(1, 2, 3, 2, 3)

In [15]:
#4._len()_
#FINDING THE LENGHT OF THE TUPLE USING MAGIC FUNCTIONS
tup1=(1,2,3)
c=tup1.__len__()
print(c)

3

In [16]:
#5._sizeof()_
#Python also has an inbuilt __sizeof__() method to determine the space allocation of an object
tup1=(1,2,3)
c=tup1.__sizeof__()
print(c)

48

In [17]:
#6_str_()
#converting tuple to string
tup1=(1,2,3)
c=tup1.__str__()
print(type(c))
print(c)

<class 'str'>
(1, 2, 3)

#LIST FUNCTION CALLS

In [60]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#list function calls

#1.list.sort()

#list not sorted
#initailizing l1 list
l1=[2,6,3,7]
l1.sort()
print("list after sorting")
print(l1)

In [ ]:
#2.reversing list
l1.reverse()
print("after reversing the list is",l1)

In [ ]:
3.list.count()

#Python list method count() returns count of how many times obj occurs in list.

#finding the count of element "2" present in the list l1

print("The count of element 2 in the list is ",l1.count(2))

In [ ]:
4.#list.append()

#creating empty list
list=[]

list.append(2)
list.append(3)
print("List after appending")
print(list)

In [ ]:
5.#list.index() 
#Python list method index() returns the lowest index in list that obj appears.

l2=['a','b','c',154]
print("The index of element 'a' in the list is ",l2.index('a'))

The index of element 'a' in the list is  0

In [ ]:
6.#list.pop()
#Python list method pop() removes and returns last object or obj from the list.

l2=['a','b','c',154]
print(l2.pop())

154

In [72]:
#7.__str__()

#converting list to string

l2=['a','b','c',154]
l=l2.__str__()
print(type(l))
print(l)

<class 'str'>
['a', 'b', 'c', 154]

In [74]:
#8.__sizeof__() to check the space allocated in list

l2=['a','b','c',154]
print(l2.__sizeof__())

72

#INTEGER FUNCTION CALLS

In [35]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [37]:
#1.bit_length() function in int

"""Returns the number of bits required to represent an integer in binary, 
excluding the sign and leading zeros"""

n=8
print(n.bit_length())

4

In [39]:
#2.conjugate function in int

#The function will remove parenthesis from the number.

x=(5)
x.conjugate()

5

In [40]:
#3.int.from_bytes() 
#Return the integer represented by the given array of bytes

int.from_bytes(b'Python Lake', byteorder='big')

97287619261264698714188645

In [50]:
#4.imag()
#Returns the imaginary part of a complex number

c=5+2j
c.imag

2.0

In [51]:
#5.int.to_bytes()
#Return an array of bytes representing an integer

(2221).to_bytes(10, byteorder='big')

b'\x00\x00\x00\x00\x00\x00\x00\x00\x08\xad'

#FLOAT FUNCTION CALLS

In [ ]:
dir(float)

In [54]:
#1 flaot.as_integer_ratio()

#return value is tuple
3.14.as_integer_ratio()

(7070651414971679, 2251799813685248)

In [56]:
#2.conjugate()

a = 12.5
b = a.conjugate()
print(b)

12.5

In [57]:
# 3.to check wehther the number is float 
a = 12.0
b = a.is_integer()
print(b)

True

In [58]:
#4.convert float to hex representation

a = 12.4
b = a.hex()
print(b)

0x1.8cccccccccccdp+3

In [59]:
#5.Convert hexa representation of float to a float ‘fromhex()’
a = '0x1.8cccccccccccdp+3'
b = float.fromhex(a)
print(b)

12.4

#TYPE CONVERSION

In [ ]:
#TYPE CONVERSION
#implicit type conversion
y=5
print(type(y))
x=10.6
print(type(x))

x=x+y
print(x)
print(type(x))

<class 'int'>
<class 'float'>
15.6
<class 'float'>

In [ ]:
#explicit type conversion
s="100"
#converting a string to  int base 2
d=int(s,2)
print("After converting into integrer")
print(d)

#converting string to float
e=float(s)
print(e)

After converting into integrer
4
100.0

In [ ]:
#type conversion using tuple(),set(),list()
#initializing as string
d='sayan'
#converting into tuple
c=tuple(d)
print(c)

#converting into set
c=set(d)
print(c)
#converting into list
c=list(s)
print(c)

('s', 'a', 'y', 'a', 'n')
{'y', 'n', 's', 'a'}
['1', '0', '0']

In [ ]:
#type conversion using dict(),str(),complex(real,img)

#intializing integer vaues

tup=(('a',1),('f',2),('g',3))

c=2
b=3
d=complex(c,b)
#after converting to complex number
print(d)

#converting integer to string
d=str(b)
print(d)

#converting tuple to dict
d=dict(tup)
print(d)

(2+3j)
3
{'a': 1, 'f': 2, 'g': 3}

In [ ]:
list=['a',1,2]
print(list)
#converting list to tuple
l=tuple(list)
print(l)

['a', 1, 2]
('a', 1, 2)

In [ ]:
#converting tuple to list

t=(1,2,'b')
print(type(t))
# l=list(t)
list(t)
print(l)